body{
    background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
                  url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}
.propos {
    font-size: 40px;
    color: #B50303;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.apropos{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;

}
.pourquoi{
    color: green;
    text-align: center;
    font-size: 20px;
}