body{
    background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
                  url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}
.blog{
        color: red;
        font-size: 60px;
        text-align: center;
    
}
.sous_partie{
    color: blue;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.description_blog{
    color: black;
    text-align: center;
    font-size: 25px;
}
.articles{
    font-size: 50px;
    text-align: center;
    color:rgb(163, 5, 163);
}