* {
  box-sizing: border-box;
}
.footer {
  background-color: #333;
}
.container-main-footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.company-infos {
  justify-content: space-between;
}
ul {
  list-style: none;
  
}
.container-one-footer {
  width: 100%;
  padding: 1rem 0;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #333;
  color: white;
  margin-top: auto; /* Permet au footer de rester en bas */
}
.container-one-footer h4 {
  font-family: inter sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 1.3rem;
  font-weight: 500;
  position: relative;
}
.container-one-footer h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: #ffc107;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.container-one-footer ul li {
  margin-bottom: 0.5rem;
  margin-right: 70px;
}
.container-one-footer ul li a {
  font-size: 1.12rem;
  text-transform: capitalize;
  /* color: #ffffff; */
  /* text-decoration: none; */
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.container-one-footer ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  /*align-items: center;
  justify-content: space-between; */
}
.links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0, 2);
  margin: 0 10px 10px 0;
  text-align: center;

  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer a {
  text-decoration: none;
}
.links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
p .fa-whatsapp {
  color: #ffffff;
  background-color: #25d366;
}
h4 {
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  color: white;
}
@media (min-width: 768px) {
  .container-one-footer {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container-one-footer {
    width: 25%;
  }
}


.container-mention-leg {
  flex: 1;
  justify-content: center;
  display: flex;
}
.mention {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.ul-list {
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.a-list {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #ffc107;
}
.mx-4{
  color: black;
}