.signup-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100vh;


}
body{
background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
              url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}
.titre-signup{
text-align: center;
margin-bottom: 20px;
color: #333;
width: 40vw;

}
label {
margin-top: 5px;
color: #333;
font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
display: flex;
justify-content: center;
width: 50%;
padding: 7px;
margin: 0 auto;
margin-top: 5px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 12px;
}
input[type="submit"] {
width: 30%;
padding: 10px;
background-color: #5cb85c;
color: white;
border: none;
border-radius: 5px;
margin-top: 20px;
cursor: pointer;
}
img{
    width: 600px;
}