body{
    background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
                  url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}

h1, h2, h3 {
    color: #343a40;
    text-align: center;
    margin: 20px 0;
}

form#payment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    margin: 30px auto;
    flex-wrap: wrap; 
    max-width: 500px; 
}


#card-element {
    width: 100%; /* Prend toute la largeur du parent */
    max-width: 400px; /* Limite la taille si besoin */
    height: 50px; /* Ajuste la hauteur */
    font-size: 18px; /* Agrandir la taille du texte */
    padding: 15px; /* Ajoute du padding interne */
    border: 2px solid #5cb85c; /* Épaisseur et couleur de bordure */
    border-radius: 8px; /* Coins arrondis */
    background-color: #f8f8f8; /* Arrière-plan léger */
}


button#bouttonpayer {
    background-color: #5cb85c;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: 40px;
    left: -260px;
}

#payment-result {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}