.signup-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


}
body{
background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
              url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}
.titre-signup{
text-align: center;
margin-bottom: 20px;
color: #333;
width: 37vw;

}
label {
margin-top: 5px;
color: #333;
} 
input[type="text"],
input[type="email"],
input[type="password"] {
display: flex;
justify-content: center;
width: 50%;
padding: 3px;
margin: 0 auto;
margin-top: 5px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 12px;
}
input[type="submit"] {
width: 50%;
padding: 10px;
background-color: #5cb85c;
color: white;
border: none;
border-radius: 5px;
margin-top: 20px;
cursor: pointer;
}


.captcha {
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    font-size: 38px;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    background: rgb(142, 138, 137, 0.65) ;
    padding: 30px;
    border: 2px solid  rgb(142, 138, 137);
    border-radius: 10px;
    margin: 0 auto; /* Centre horizontalement */
    display: flex;
    justify-content: center;
}

.captcha span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    /* Correction de la position verticale */
    opacity: 0.6;
    animation: rotateCaptcha 2s infinite linear;
}

.captcha span:nth-child(2) {
    transform: translateY(-50%) rotate(-10deg);
    animation: rotateCaptcha 2s infinite reverse linear;
    color: #e74c3c;
}

.captcha span:nth-child(3) {
    transform: translateY(-50%) rotate(15deg);
    animation: rotateCaptcha 5s infinite linear;
    color: blue;
}

.captcha span:nth-child(4) {
    transform: translateY(-50%) rotate(-5deg);
    animation: rotateCaptcha 8s infinite reverse linear;
    color: yellow;
}

.captcha span:nth-child(5) {
    transform: translateY(-50%) rotate(20deg);
    animation: rotateCaptcha 2s infinite linear;
    color: rebeccapurple;
}

@keyframes rotateCaptcha {
    0% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    70% {
        transform: rotate(-80deg);
    }

    100% {
        transform: rotate(70deg);
    }
}

/* Appliquer un espacement aléatoire pour chaque caractère */
.captcha span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    /* Centrer verticalement */
}

.captcha span:nth-child(1) {
    left: 10%;
    top: -5px;
    font-size: 50px;

}

.captcha span:nth-child(2) {
    left: 25%;
    top: -5px;
}

.captcha span:nth-child(3) {
    left: 40%;
    top: -5px;
}

.captcha span:nth-child(4) {
    left: 55%;
    top: -5px;
    font-size: 60px;
}

.captcha span:nth-child(5) {
    left: 70%;
    top: -5px;
    font-size: 30px;
}
