.signup-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 100vh;
    
    
}
body{
    background: linear-gradient(rgba(247, 244, 244, 0.733), rgba(242, 241, 241, 0.696)), no-repeat, fixed
                  url(img/DALL·E\ 2024-11-29\ 13.29.03\ -\ A\ vibrant\ and\ colorful\ image\ showcasing\ various\ video\ games\ integrated\ into\ a\ single\ scene.\ The\ image\ includes\ a\ retro\ arcade\ machine\ with\ a\ glowing\ s.webp);
}
.titre-signup{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    width: 37vw;

}
/* label {
    margin-top: 5px;
    color: #333;
} */
input[type="text"],
input[type="email"],
input[type="password"] {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 3px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 12px;
}
input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.captcha{
    font-family: 'Impact', sans-serif;

            font-size: 30px;
            /* Taille de la police */
            color: #333;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: #f3f3f3;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto; /* Centre horizontalement */
            width: 50%;
}
.captcha span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    /* Correction de la position verticale */
    opacity: 0.6;
    animation: rotateCaptcha 2s infinite linear;
}

.captcha span:nth-child(2) {
    transform: translateY(-50%) rotate(-10deg);
    animation: rotateCaptcha 2s infinite reverse linear;
    color: #e74c3c;
}

.captcha span:nth-child(3) {
    transform: translateY(-50%) rotate(15deg);
    animation: rotateCaptcha 5s infinite linear;
    color: #2ecc71;
}

.captcha span:nth-child(4) {
    transform: translateY(-50%) rotate(-5deg);
    animation: rotateCaptcha 8s infinite reverse linear;
    color: #f39c12;
}

.captcha span:nth-child(5) {
    transform: translateY(-50%) rotate(20deg);
    animation: rotateCaptcha 2s infinite linear;
    color: #9b59b6;
}

@keyframes rotateCaptcha {
    0% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    70% {
        transform: rotate(-80deg);
    }

    100% {
        transform: rotate(70deg);
    }
}

/* Appliquer un espacement aléatoire pour chaque caractère */
.captcha span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    /* Centrer verticalement */
}

.captcha span:nth-child(1) {
    left: 10%;
    top: -5px;

}

.captcha span:nth-child(2) {
    left: 25%;
    top: -5px;
}

.captcha span:nth-child(3) {
    left: 40%;
    top: -5px;
}

.captcha span:nth-child(4) {
    left: 55%;
    top: -5px;
}

.captcha span:nth-child(5) {
    left: 70%;
    top: -5px;
}